*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(./assets/raimond-klavins-030ZIU1Rook-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container{
    backdrop-filter: blur(10px);
    width: 60%;
    position: relative;
    top: 90px;
    margin: 0 auto;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif; 
    margin-bottom: 100px;
}
.form-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}
.container label{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0px 0px 15px 0px;
}

.container label > span{
width: 30%;
font-weight: bold;
float: left;
padding-top: 8px;
padding-right: 5px;
text-align: start;
}
.arabic-name{
    text-align: end;
}
.container span.required{
color:red;
}
.container .year-number-field{
width: 40px;
text-align: center;
}
.container input.input-field, .container .select-field{
width: 48%;
}
.container input.input-field,
.container .year-number-field,
.container .textarea-field,
.container .select-field{
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
border: 1px solid #C2C2C2;
box-shadow: 1px 1px 4px #EBEBEB;
-moz-box-shadow: 1px 1px 4px #EBEBEB;
-webkit-box-shadow: 1px 1px 4px #EBEBEB;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
padding: 7px;
outline: none;
}
.container .input-field:focus,
.container .year-number-field:focus,
.container .textarea-field:focus, 
.container .select-field:focus{
border: 1px solid #0C0;
}


.feedback1 , .feedback2, .feedback3, .feedback4 {
    display: none;
    background-color: rgba(255, 0, 0, 0.377);
    width: auto;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
.show {
    display: block;
}

div.radio-wrapper {
    text-align: center;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
div.radio-container{
    background-color: red;
    display: flex;
    width: 160px;
    margin-top: 15px;
    justify-content: center;
    align-items: stretch;
    border-left: 1px solid green ;
    border-right: 1px solid black ;
    padding: auto;
    border-radius: 10px;
    overflow: hidden;
    
}
div.radio-container input[type=radio]{
    opacity: 0;
    display: none;
    margin: 0;
    outline: none;

}
div.radio-container input[type=radio]:checked+label{
    color: white;
    animation-name: radio-active;
    animation-duration:  0.2s;
}
div.radio-container label{
    padding: 0.9em;
    cursor: pointer;
    background: none;
    display: inline-block;
    outline: none;
    letter-spacing: 0.1em;
    color: rgb(76, 76, 76);
    transition: all ease-in-out 0.1s;
    margin: 0;
}

div.radio-container .left-label {
    background-color: green;
    border-right: 5px solid white;
    border-top-right-radius: 35px;
}
div.radio-container .right-label {
    
    background-color: black;
    border-left: 5px solid white;
    border-top-left-radius: 35px;
}
@keyframes radio-active {
    from{
        transform: scale(0.6, 0.6);
    }
    to{
        transform: scale(1,1);
    }
}

.container input[type=submit],
.container input[type=button]{
border: none;
padding: 8px 15px 8px 15px;
background: #000000;
font-weight: bolder;
color: #fff;
box-shadow: 1px 1px 4px #DADADA;
-moz-box-shadow: 1px 1px 4px #DADADA;
-webkit-box-shadow: 1px 1px 4px #DADADA;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
margin: 25px;
}
.container input[type=submit]:hover,
.container input[type=button]:hover{
background: green;
cursor: pointer;
color: #fff;
}
.submit-btn {
    text-align: center;
}





@media screen  and (max-width: 750px ){
    .container{
        width: 90%;
        top: 30px;

    }
    .container .year-number-field{
        width: 40%;
        text-align: center;
        margin-top: 10px;
        }
        .container input.input-field, .container .select-field{
        width: 78%;
        margin-top: 10px;
        }
        .container label > span{
            width: 70%;
        }
        div.radio-wrapper{
            flex-direction: column;
        }
}
